$rc:30;
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
body,html{
    width: 100%;
    height: 100%;
    box-sizing:border-box;
    background: #f4f4f4;;
}
header{
    width: 100%;
    height: 88/$rc+rem;
    background: #FFFFFF;
    padding-top:18/$rc+rem;
    padding-left: 24/$rc+rem;
    padding-right: 24/$rc+rem;
    box-sizing: border-box;
    span:nth-of-type(1){
        margin-right: 36/$rc+rem;
    }
    span:nth-of-type(3){
        float: right;
        &:hover{
            color: #f8b62b;
        }
    }
}
section{
    width: 100%;
    height: 678/$rc+rem;
    background: #f4f4f4;
    position: relative;
    .radius{
        position: absolute;
        top: 114/$rc+rem;
        left: 228/$rc+rem;
        width: 300/$rc+rem;
        height:300/$rc+rem; 
        border-radius: 50%;
        background: #f8b62b;
        img{
            width: 300/$rc+rem;
        }
    }
    ul{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 200/$rc+rem;
        background: #FFFFFF;
        box-sizing: border-box;
        li{
            display: inline-block;
            width: 100%;
            height: 100/$rc+rem;
            box-sizing: border-box;
            border-bottom: 1/$rc+rem solid #dbdbdb;
            line-height: 100/$rc+rem;
            padding-left: 31/$rc+rem;
            color: #bbbbbb;
            img{
                vertical-align: middle;
                width: 52/$rc+rem;
                height: 56/$rc+rem;
                margin-right: 32/$rc+rem;
            }
        }
    }
}
footer{
    position: relative;
    width: 100%;
    height: 528/$rc+rem;
    box-sizing: border-box;
    background: #f4f4f4;
    padding-top: 30/$rc+rem;
    padding-left: 24/$rc+rem;
    padding-right: 24/$rc+rem;
    #bubble{
        width: 100%;
        height: 75/$rc+rem;
        border: 1px solid #DBDBDB;
        text-align: center;
        line-height:75/$rc+rem ;
        color: black;
        border-radius: 10/$rc+rem;
        background: white;
        }
    #key{
        width: 100%;
        height: 24/$rc+rem;
        margin-top: 48/$rc+rem;
        span{
            float: right;
            font-size: 24/$rc+rem;
            font-family: "PingFang";
            color: rgb(248, 182, 43);
        } 
        }
        div:nth-of-type(2){
            position: absolute;
            bottom: 0;
            left: 0;
            width: 228/$rc+rem;
            height: 249/$rc+rem;
            border-top: 1/$rc+rem solid #e5e5e5;
        }
        div:nth-of-type(3){
            position: absolute;
            bottom: 0;
            left: 228/$rc+rem;
            width: 296/$rc+rem;
            height: 264/$rc+rem;
            p{
                width: 100%;
                height: 30/$rc+rem;
                text-align: center;
                color: #acacac;
            }
            #pics{
                display: flex;
                justify-content: space-between;
                width: 100%;
                height: 61/$rc+rem;
                margin-top: 32/$rc+rem;
                img{
                    width: 61/$rc+rem;
//                  float: left;
//                  margin-right: 47/$rc+rem;
//&:nth-of-type(2){
//  margin-left: 47/$rc+rem;
//  margin-right: 47/$rc+rem;
//}
                }
            }
        }
        div:nth-of-type(4){
            position: absolute;
            bottom: 0;
            right: 0;
            width: 228/$rc+rem;
            height: 249/$rc+rem;
            border-top: 1/$rc+rem solid #e5e5e5;
        }
    }

